*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: rgb(177, 182, 186);
}
.header01{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 2vw;
    background-color: #4e4c4eab; 
    
}
.mainlogo{
    width: 30vw;
    color: rgb(22, 25, 28);
    font-size: medium;
}

#check{
    display: none;
}

.checkbtn{
    display:none;
    color: white;
    font-size: 30px;
    justify-content: end;

}



.ulcontainer{
    display: grid;
    grid-template-columns: 5vw 5vw 5vw 5vw 5vw;
    gap: 3vw;
    list-style-type: none;
    text-decoration: none;

}

.nav-a{
    color: rgb(22, 25, 28);
}

.nav-a:hover{
    color: antiquewhite;
}



@media screen and (max-width: 1068px) {
    .ulcontainer{
        grid-template-columns: 8vw 8vw 8vw 8vw 8vw;
    }
    .mainlogo{
        font-size: small;
    }
    .header01{
        height: 60px;
    }
}


@media screen and (max-width:650px){
    .ulcontainer{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50px;
        right: -1000px;
        width: 40vw;
        height: 100vh;
        transition: all 0.5s;
        background: rgb(102, 121, 115);
        opacity: 0.7;
        justify-content: start;
        text-align: center;
        margin-top: 10px;
        color: black;
    }

    #check:checked ~ .ulcontainer{
        right: 0;
    }
    .navlistitem{
        padding: 20px 0;
    }
    .navlistitem:hover{
        border: 2px solid rgb(69, 130, 110);
    }
    .nav-a:hover{
        color: antiquewhite;
    }

    .menuicon{
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: white;
        padding: 10px;
    }
    .mainlogo{
        width: 60vw;
    }
    .checkbtn{
        display: block;
        padding-right: 20px;
    }
    

    
}



