/* :root {
    --circle-size: 100px;
    --track-color: #e0e0e0;
    --progress-color: #2196f3;
    --text-color: #000000;
    color: var(--text-color);
    var(--progress-color)
  } */



*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body{
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

/*------------------ header and sidebar css -----------------------------*/

#header01{
    width: 100vw;
    height: 80px;
    display: flex;
    position: fixed;
    align-items: center;
    background-color: rgb(76, 76, 255);
    justify-content: space-between;
    padding:0 2vw;
    
}
.mainlogo{
    width: 30vw;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
}
.logoimage{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    font-size: 20px;
}
.logotext{
    align-self: center;
    font-weight: bold;
    padding-left: 5px;

}

#check{
    display: none;
}

.checkbtn{
    display:none;
    color: white;
    font-size: 30px;
    justify-content: end;

}



.ulcontainer{
    display: grid;
    grid-template-columns: 6vw 7vw 7vw 9vw 10vw;
    gap: 3vw;
    list-style-type: none;
    text-decoration: none;

}

.nav-a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-transform: uppercase;
}
.nav-a.active{
    font-weight:900;
    text-decoration: underline;
}

.nav-a:hover{
    color: #25195a54;
    text-decoration: underline;
}



@media screen and (max-width: 1068px) {
    .ulcontainer{
        grid-template-columns: 8vw 9vw 9vw 11vw 12vw;
        gap: 3vw;
    }
    .mainlogo{
        font-size: 20px;
    }
    #header01{
        height: 60px;
    }
    .nav-a{
        font-size: 15px;
    }
}


@media screen and (max-width:700px){
    .ulcontainer{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 49px;
        right: -1000px;
        width: 40vw;
        height: 100vh;
        transition: all 0.5s;
        background: rgb(76, 76, 255);
        justify-content: start;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        color: black;
        justify-items: center;
        z-index: 1;

    }

    #check:checked ~ .ulcontainer{
        right: 0;
    }
    .navlistitem{
        align-content: center;
        width: 60%;
        height: 30px;
        border-radius: 5px;
        margin: 20px 0;
    }
    .navlistitem:hover{
        background-color: #25195a54;   
    }
    

    .menuicon{
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: white;
        padding: 10px;
    }
    .mainlogo{
        width: 60vw;
    }
    .checkbtn{
        display: block;
        padding-right: 20px;
    }
}

.scrollup{
    position: fixed;
    right: 25px;
    bottom: 25px;

}

/*------------------------ main containte ------------------------- */

/* .b-g-img{
    width: 100vw;
    height: 100vh;
    background-position: center;
} */

/* ----------------------- */

.section01{
    width: 100%;
    height: auto;

}

.aboutsection{
    height: 100vh;
    background-image: url("./image/b-gimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
}
.changetext{
    color: white;
    font-size: 30px;
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
}
.changingtext{
    color: rgb(76, 76, 255);
}
.blinkingcursor{
    color: rgb(0, 0, 0);
    animation: blink 0.7s infinite;
    color: rgb(255, 255, 255);
    z-index: -1;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* ------------------------------- */
.section02{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    color: white;
}

.aboutme{
    color: black;
    width: 90%;
    height: 20%;
    margin:  10px auto;
}
.about-h{
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
    padding-left: 0;
    border-bottom: 2px solid rgb(76, 76, 255);
}
.about-p{
    font-size: 18px;
    padding-top: 10px;
}

.aboutimginfo{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}
    

.aboutimginfo01{
    width: 35%;
    height: 400px;
}

.aboutimg{
    width: 300px;
    margin: 0px auto;
}
.proimage{
    width: 100%;
    border-radius: 1%;
    
}

.infoicon-div{
    height: 70px;
}
.infosec-icon{
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoicon{
    margin-left: 15px;
}
.infoicon:hover{
    border-bottom: 2px solid #161b13;
}
.infoicon01{
    margin-left: 20px;
}

.aboutimginfo02{
    width: 65%;
    height: 400px;
}

.infofirst{
    color: black;
    padding-left: 10px;
}
.infofirst-p{
    padding: 10px;
}


.infosec-list{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px 30px 30px;
    list-style-type: disclosure-closed;
}
.infolist-item{
    width: 50%;
    margin: 20px 0px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.infoitem-ans{
    color: black;
    padding-left: 10px;
    font-size: 18px;
    font-weight: lighter;
}




.infosec-three{
    color: black;
    padding: 10px ;
}

@media screen and (max-width:1000px){
    .about-hp{
        height: 40%;
        transition-duration: 1.5s;
    }
    .aboutimginfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition-duration: 1.5s;

    }
    .aboutimginfo01{
        width: 100%;
        height: auto;
        margin: 10px auto;
        transition-duration: 1.5s;

    }
    .aboutimginfo02{
        width: 80%;
        height: auto;
        margin: 10px auto;
        transition-duration: 1.5s;
    }
    .aboutimg{
        width: 50%;
        transition-duration: 1.5s;
    }
    .infoicon{
        margin-left:0px;
        margin: 0px 4%;
        transition-duration: 1.5s;
    }

    
}

@media screen and (max-width:800px){
    .aboutimginfo02{
        width: 100%;
        height: auto;
        margin: 10px auto;
        transition-duration: 1s;
    }
    .infolist-item{
        width: 100%;
        font-size: 15px;
        transition-duration: 1s;
    }
    .aboutimg{
        width: 90%;
        transition-duration: 1s;
    }
    
}

@media screen and (max-width:500px){
    .aboutreso01{
        width: 100%;
    }

}

/* -------------------------------- */

.section03{
    width: 100%;
    height: auto;
    background-color: rgb(234, 236, 255);
}

.skillhead{
    width: 80%;
    color: black;
    font-size: 30px;
    margin: 0px auto;
    padding-top: 50px;
    border-bottom: 2px solid rgb(76, 76, 255);
}
.skillinfo{
    width: 80%;
    color: black;
    font-size: 15px;
    margin: 0px auto;
    padding-top: 20px;
}
.skillitem{
    width: 80vw;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.items-s{
    width: 20vw;
    height: 20vw;
    margin: 20px 40px;
    padding: 30px 10px 10px 10px;
    background-color: white;
    border-radius: 5px;
    transition-duration:1s;
}

.skillmeter{
    width: 70%;
    height: 70%;
    margin: 5px auto;

}
.circle{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: conic-gradient(
        rgb(76, 76, 255) 0%, rgb(76, 76, 255) var(--percentage),
        white var(--percentage), white 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 1S;
    
}

.innercircle{
    height: 85%;
    width: 85%;
    border-radius: 50%;
    background-color: #ffffff;
}



.skillmeter p {
    text-align: center;
    font-size: 20px;
}
.skill-m-p1{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.skill-m-p2{
    text-align: center;
    margin-bottom: 5px;
}

@media screen and (min-width:1800PX){
    .skillmeter p{
        font-size: 25px;
    }    

}

@media screen and (max-width:1420PX){
    .items-s{
        width: 18vw;
        height: 18vw;
        margin: 10px 20px;
        padding: 10px;
        transition-duration: 1s;
    }
    .skillmeter p{
        font-size: 14px;
    }
}

@media screen and (mAX-width:1000PX){
    .skillmeter p{
        font-size: 11px;
    }
    
}
@media screen and (max-width:800px){
    
    .skillmeter p{
        font-size: 8px;
    }
}
@media screen and (max-width:600px){
    .skillmeter p{
        font-size: 10px;
    }
    .items-s{
        width: 35vw;
        height: 35vw;
        margin: auto;
        margin-top: 30px;
        transition-duration: 1s;
    }
    .skillreso01{
        width: 90%;
    }
}


  /* ------------------------------- */

.section04{
    width: 100%;
    height: auto;
    background-color: white;
    padding-bottom: 50px;

}
.contacthead{
    width: 80%;
    color: black;
    font-size: 30px;
    margin: 0px auto;
    padding-top: 50px;
    border-bottom: 2px solid rgb(76, 76, 255);
}
.contactinfo{
    width: 80%;
    color: black;
    font-size: 15px;
    margin: 0px auto;
    padding-top: 20px;
}

.contactcard{
    width: 80%;
    height: auto;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0px 0px 12px 3px rgb(106, 110, 116);
   
}
.contact-types{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.contacttype{
    width: 30%;
    height: 80px;
    margin: 5px 10%;
    display: flex;
    justify-content: start;
    align-items: center;

}

.contacttype01{
    margin-left: 20px;
}
.contacttype02{
    margin-left: 20px;
}
.contacttype-p1{
    font-size: 25px;
    font-weight: bold;
}

.contacttype-p2{
    font-size: 15px;
}

.contactlocation{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contacttypepin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-left: 20px;

}

.contactmap{
    width: 80%;
    height: auto;
    padding: 5px;
    border-radius: 5px;
}
.contactmap iframe {
    margin: 10px 10px;
    width: 100%;
    height: 30vw;
    
}

@media screen and (min-width:1400px){
    .contactmap iframe {
        height: 20vw;

    }
    .contactmap{
        width: 60%;
    }
    
}
@media screen and (max-width:800px){
    .contactmap{
        width: 100%;
    }
    .contactmap iframe {
        height: 40vw;
        margin: 0;
    }
    .contacttype{
        width: 50%;
        margin: 10px 0;
    }
    

}
@media screen and (max-width:650px){
    .contactmap{
        width: 95%;
    }
    .contactmap iframe {
        height: 40vw;
        margin: 0;
    }
    .contacttype{
        width: 95%;
        display: flex;
        justify-content: center;
        margin: 10px auto;
    }
    .contacttype{
        justify-content: start;

    }
    .contacthead{
        width: 90%;
    }
    .contactinfo{
        width: 90%;
    }
    .contactcard{
        width: 90%;
    }

}


/* --------------------------------------------------------------------- */


.section05{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    background-color: rgb(234, 236, 255);
}

.feedbackhead{
    width: 80%;
    color: black;
    font-size: 30px;
    margin: 0px auto;
    padding-top: 50px;
    border-bottom: 2px solid rgb(76, 76, 255);
}
.feedbackinfo{
    width: 80%;
    color: black;
    font-size: 15px;
    margin: 0px auto;
    padding-top: 20px;
}
.feedbackform{
    width: 80%;
    height: auto;
    margin: 25px auto;
    padding-bottom: 50px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form01{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-top: 20px;
}

.form-n{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.form-n input{
    width: 60%;
    height: 60px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}
.form-n label{
    width: 40%;
    font-size: 30px;
}

.form-e{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.form-e input{
    width: 60%;
    height: 60px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}
.form-e label{
    width: 40%;
    font-size: 30px;
    padding-left: 20px;
}

.form02{
    width: 80%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-top: 20px;
}
.form02 input{
    width: 80%;
    height: 60px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}
.form02 label{
    width: 20%;
    font-size: 30px;
}



.form03{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    padding-top: 20px;
}
.s01{
    align-items: start;
}
.form03 textarea{
    width: 80%;
    height: auto;
    padding: 10px;
    resize: vertical;
    border: 1px solid rgb(0, 0, 0);
}
.form03 label{
    width: 20%;
    font-size: 30px;
}

@media screen and (max-width:1260px){
    .form-n{
        flex-direction: column;
        align-items: start;

    }
    .form-e{
        flex-direction: column;
        align-items: start;
    }
    .form02{
        flex-direction: column;
        align-items: start;
        padding-left: 0;
    }
    .form03{
        flex-direction: column;
        align-items: start;
        padding-left: 0;
    }
    .form-n input{
        width: 90%;
    }
    .form-n label{
        width: 90%;
    }
    .form-e input{
        width: 90%;
    }
    .form-e label{
        width: 90%;
    }
    .form03 textarea{
        width: 95%;
    }
    .form02 input{
        width: 95%;
    }
    .feedbackform label {
        padding-left: 0;
    }
    .reso01{
        width: 90%;
    }

}

@media screen and (max-width:660px){
    .form01 {
        width: 90%;
        flex-direction: column;
    }
    .form02 {
        width: 90%;
    }
    .form03 {
        width: 90%;
    }

    .form-n{
        width: 100%;

    }
    .form-e{
        width: 100%;
    }
    .form-n input{
        width: 95%;
    }
    .form-n label{
        width: 95%;
    }
    .form-e input{
        width: 95%;
    }
    .form-e label{
        width: 95%;
    }
    .feedbackform label{
        font-size: 15px;
    }
    .changetext{
        font-size: 25px;
    }

}

.btn{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn button{
    width: 170px;
    height: 50px;
    color: white;
    background-color: rgb(76, 76, 255);
    border-radius: 50px;
    border: 1px solid transparent;
    cursor: pointer;
    
}

.hidden{
    position: fixed;
    width: 25%;
    height: 10vw;
    top: 80px;
    left: 37%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 1s all;

}
.alertbox{
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-image: linear-gradient(rgba(76, 76, 255,0.5),rgba(255, 255, 255,0.5));
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 2px rgb(174, 174, 174);
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.hidden{
    display: none;
}

#closealert{
    width: 80px;
    height: 40px;
    border-radius: 10%;
    background-color: rgb(76, 76, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
}

@media screen and (max-width:1100px){
    #customalert{
        width: 30%;
        height: 12vw;
        left: 35%;
    }    
}

@media screen and (max-width:880px){
    #customalert{
        width: 40%;
        height: 17vw;
        left: 30%;
    }    
}

@media screen and (max-width:660px){
    #customalert{
        width: 55%;
        height: 25vw;
        left: 22%;
    }    
}

@media screen and (max-width:480px){
    #customalert{
        width: 74%;
        height: 40vw;
        left: 13%;
    }
    .alertbox{
        font-size: 15px;
    }    
}







































.footer{
    width: 100%;
    height: auto;
    background-color: rgb(188, 198, 255);
    border-top: 1px solid rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footertext{
    text-align: center;
    padding: 30px;
}




